<div class="container">

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">{{username}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/user">Dashboard</a></li>
        <li><a href="/events" class="active">Your Events</a></li>
      </ul>
    </div>
  </nav>



  <div class="row">

    <div class="col m6">

      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Events Attending</span>
        </div>
      </div>

      {{#if eventsAtt}}
        <div class="card teal lighten-2">
          <div class="card-content white-text">
            <span class="card-title">{{this.eventId}}</span>
{{!--             <p>{{this.desc}}</p>
            <p>Where: {{this.location}}</p>
            <p>When: {{this.time}}</p> --}}
          </div>
        </div>
      {{else}}
        <div class="card red darken-1">
          <div class="card-content white-text">
            <span class="card-title">Hello!</span>
            <p>You are not attending any events yet!</p>
          </div>
        </div>
      {{/if}}


    </div>

    <div class="col m6">

      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Your Events</span>
          <a id="createFormBtn" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
      </div>

      <div id="createForm" class="hidden">
        <h1>Create Event</h1>
        <form action="/newevent" method="post">
          <div>
            <label for="">Event Name</label>
            <input type="text" class="validate" id="" placeholder="My Event" name="event">
          </div>
          <br>
          <div>
            <label for="">When?</label>
            <input type="date" class="validate" id="" name="date">
            <input type="time" class="validate" id="" placeholder="John" name="time">
          </div>
          <br>
          <div>
            <label for="">Where?</label>
            <input type="text" class="validate" id="" placeholder="Venue" name="location">
          </div>
          <br>
          <div>
            <label for="">Description</label>
            <textarea name="desc" class="materialize-textarea"></textarea>
          </div>
          <br>
          <button type="submit" class="btn">Create!</button>
        </form>
      </div>

      {{#each eventsCreated}}
        <div class="col m12">
          <div class="card teal lighten-2">
            <div class="card-content white-text">
              <span class="card-title">{{this.event}}</span>
              <p>{{this.desc}}</p>
              <p>Where: {{this.location}}</p>
              <p>When: {{this.time}}</p>
            </div>
          </div>
        </div>
      {{else}}
        <div class="card red darken-1">
          <div class="card-content white-text">
            <span class="card-title">Hello!</span>
            <p>You have not created any events yet!</p>
          </div>
        </div>
      {{/each}}

    </div>

  </div>

</div>
