<div class="container">

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">{{username}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/user" class="active">Dashboard</a></li>
        <li><a href="/events">Your Events</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
    {{#each event}}
    <div class="col s12 m6">
      <div class="card teal lighten-2">
        <div class="card-content white-text">
          <span class="card-title">{{this.event}}</span>
          <p>{{this.desc}}</p>
          <p>Where: {{this.location}}</p>
          <p>When: {{this.time}}</p>
        </div>
        <div class="card-action">
          <a href="#">Attend event</a>
        </div>
      </div>
    </div>
    {{/each}}

    <div class="col s12 m6">
      <div class="card teal lighten-2">
        <div class="card-content white-text">
          <span class="card-title">Party Event</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p><br>
          <p>When: March 10 - 8:00PM</p>
          <p>Where: My House!</p>
        </div>
        <div class="card-action">
          <a href="#">Attend event</a>
        </div>
      </div>
    </div>
  </div>

</div>
